#designed-by {
    position: relative;
    top: -200px;
}

#designed-by .design-container {
    position: relative;
    background: white;
    overflow: hidden;
    border-radius: 5px;
}

#designed-by .design-container .bg-container {
    position: relative;
    background: #6066f2;
    overflow: hidden;
    padding: 45px;
}

#designed-by .design-container:after {
    content: "";
    display: table;
    clear: both;
}

#designed-by .design-container .bg-image {
    position: absolute;
    width: 600px;
    z-index: 1;
    opacity: 0.3;
    right: -200px;
    top: -100px;
}

#designed-by .design-container .info-section {
    width: 40%;
    display: block;
    float: left;
    /* padding: 45px; */
}

#designed-by .design-container .info-section h5 {
    color: #fea83b;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

#designed-by .design-container .info-section h3 {
    color: white;
    font-size: 2.7rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

#designed-by .design-container .info-section .info-list {
    margin-bottom: 4rem;
    position: relative;
    z-index: 2;
}

#designed-by .design-container .info-section .info-list li {
    list-style: none;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 15px;
    vertical-align: top;
}

#designed-by .design-container .info-section .info-list li .circle {
    background: #fea83b;
    display: inline-block;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    margin-right: 10px;
    position: relative;
    top: 7px;
}

#designed-by .design-container .info-section .info-list li .circle .fas {
    position: absolute;
    top: 6px;
    left: 5px;
}

#designed-by .design-container .info-section .white-btn {
    text-decoration: none;
    background: white;
    border-radius: 50px;
    padding: 20px 65px;
    color: #6066f2;
    font-weight: 700;
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    z-index: 2;
}

#designed-by .design-container .icon-section {
    width: 60%;
    background: white;
    float: left;
    position: relative;
}

#designed-by .design-container .icon-section .refresh-circle {
    position: absolute;
    top: 40%;
    left:45%;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
}

#designed-by .design-container .icon-section .refresh-circle .fas{
    position: relative;
    top:20px;
    left: 20px;
    color: #fea83b;
    font-size: 2.5rem;
}

#designed-by .design-container .icon-section .icon-box {
    width: 50%;
    height: 228px;
    background: white;
    float: left;
    text-align: center;
    border: 1px solid #f4f4f4;
    color: #6066f2;
    font-size: 1.3rem;
}

#designed-by .design-container .icon-section .icon-box .fas, #designed-by .design-container .icon-section .icon-box .far {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 60px;
}